/* ---------- base styles ---------- */
html,
body {
  --content-width: min(85vw, 650px);

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #f2f2f2;
}
body {
  display: flex;
  justify-content: center;
}

body * {
  box-sizing: border-box;
}

button,
input[type="button"],
input[type="submit"] {
  cursor: pointer;
  white-space: nowrap;
  text-transform: capitalize;
}

button:disabled,
input[type="button"]:disabled,
input[type="submit"]:disabled {
  cursor: not-allowed;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="datetime-local"],
select {
  width: 300px;
}

/* ---------- utility styles ---------- */
#notification {
  display: none;
  position: fixed;
  top: 30px;
  right: 0;
  width: 350px;
  min-height: 50px;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  border: solid 1px grey;
}

#notification:hover {
  display: block !important;
}

#busy-spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(5px);
}
#busy-spinner::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid black;
  border-top-color: white;
  -webkit-animation-name: pms-busy-spinner;
  -webkit-animation-duration: 0.6s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

/* ---------- admin styles ---------- */
.admin-nav-btn-group,
.driver-nav-btn-group {
  position: absolute;
  top: 90%;
  left: 50%;
  display: flex;
  transform: translate(-50%, 0);
}
.admin-nav-btn-group > button,
.driver-nav-btn-group > button {
  margin: 5px;
}

#lot-selected-section-child-1 {
  display: flex;
  width: 100%;
  white-space: nowrap;
}
#lot-selected-section-child-1 > div:nth-child(1) {
  flex: 0.25;
  padding: 15px;
  margin-right: 15px;
}
#lot-selected-section-child-1 > div:nth-child(3) {
  display: flex;
  flex: 0.25;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  margin-left: 15px;
}
#lot-selected-section-child-1 > div:nth-child(1) .space-between,
#lot-selected-section-child-1 > div:nth-child(3) .space-between {
  margin-bottom: 5px;
}
#lot-selected-section .content-injection {
  padding: 20px;
  width: var(--content-width);
  height: 325px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: auto;
  overflow: auto;
}

#action-form-admin-requests-selection .content-injection {
  width: 100%;
  height: 300px;
  margin-bottom: 25px;
  overflow: auto;
}
#action-form-admin-requests-selection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: var(--content-width);
}
#action-form-admin-requests-selection input[type="checkbox"] {
  margin-bottom: 10px;
}

#driver-management-section .content-injection {
  width: var(--content-width);
  height: 325px;
  overflow: auto;
}
#driver-management-section ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#driver-management-section li {
  display: flex;
  justify-content: space-between;
}

#admin-messages-section .content-injection,
#driver-messages-section .content-injection {
  width: var(--content-width);
  height: 325px;
  overflow: auto;
}
#send-form-message-admin,
#send-form-message-driver {
  display: flex;
  flex-direction: column;
}
#admin-messages-section ul,
#driver-messages-section ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#admin-messages-section li,
#driver-messages-section li {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  height: 3.1rem;
  overflow: hidden;
}
#admin-messages-section li:focus,
#driver-messages-section li:focus {
  height: auto;
}
#admin-messages-section li > span,
#driver-messages-section li > span {
  margin-bottom: 5px;
}

/* ---------- driver styles ---------- */

.navigate-btn-check-in,
.landing-btn {
  font-weight: 600;
  align-self: center;
  width: 80px;
  height: 80px;
  border-radius: 50px;
  margin-top: 25px;
  border: solid 3px cornflowerblue;
}

.landing-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
  text-align: center;
  text-decoration: none;
  border: solid 3px gray;
  margin: 10px;
}

.navigate-btn-check-in:hover {
  background-color: cornflowerblue;
  border: solid 3px blue;
  color: white;
  transition: all 0.25s ease-in-out;
}

.register-request-absent-payment {
  display: inline-block;
  border: solid 1px red;
  background-color: #ff9696;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  color: white;
}

.upcoming-request-banner-injection {
  display: inline-block;
  border: solid 1px blue;
  background-color: cornflowerblue;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  color: white;
  margin-bottom: 25px;
}

.navigate-btn-check-in:disabled,
.upcoming-request-banner-injection-disabled {
  color: gray;
  background-color: lightgray;
  border: solid 3px gray;
}
.upcoming-request-banner-injection-disabled {
  border: solid 1px gray;
}

.register-request-price-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: 700;
  background-color: white;
  border: dashed 1px #cbc3c3;
  border-radius: 5px;
  height: 75px;
  text-align: center;
}

#driver-request-history-tab .content-injection {
  height: 300px;
  width: var(--content-width);
}
#driver-request-history-tab .content-injection ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#driver-request-history-tab .content-injection li::before,
.request-color-key::before,
.spot-color-key::before {
  display: inline-block;
  content: "";
  width: 10px;
  height: 10px;
  margin-right: 5px;
  border-radius: 50%;
}

.request-color-key-wrapper,
.spot-color-key-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-weight: 500;
  font-size: 12px;
}

.spot-color-key-wrapper {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.request-color-key {
  display: inline-block;
  margin-right: 20px;
}

.spot-color-key {
  display: inline-block;
  margin-bottom: 20px;
}

#driver-request-history-tab .content-injection [data-state="pending"]::before,
.request-pending::before {
  background-color: goldenrod;
}
#driver-request-history-tab .content-injection [data-state="accepted"]::before,
.request-accepted::before {
  background-color: green;
}
#driver-request-history-tab .content-injection [data-state="rejected"]::before,
.request-rejected::before {
  background-color: tomato;
}
#driver-request-history-tab .content-injection [data-state="used"]::before,
.request-used::before {
  background-color: cornflowerblue;
}
#driver-request-history-tab .content-injection [data-state="expired"]::before,
.request-expired::before {
  background-color: dimgray;
}

/* ---------- global styles ---------- */
.container {
  max-width: 1000px;
  width: 100%;
  height: 100%;
  position: relative;
}

[data-inner-admin-name],
[data-inner-driver-name] {
  position: absolute;
  top: 0;
  right: 0;
  margin: 15px;
}

.navigate-btn-admin-home,
.navigate-btn-driver-home {
  position: absolute;
  top: 0;
  left: 0;
  margin: 15px;
}

.grid-elem-spot-id {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 75px;
  margin: 15px;
  border: solid 2px black;
}
.grid-elem-spot-id[data-state="opened"],
.spot-opened::before {
  background-color: springgreen;
}
.grid-elem-spot-id[data-state="occupied"],
.spot-occupied::before {
  background-color: tomato;
}
.grid-elem-spot-id[data-state="reserved"],
.spot-reserved::before {
  background-color: yellow;
}
.grid-elem-spot-id[data-selected="true"] {
  border: solid 5px blueviolet;
}

.max-dimensions {
  width: 100%;
  height: 100%;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.h2 {
  font-size: 1.5rem;
}

.m-3 {
  margin: 5px;
}

.mt-3,
.child-btn-mt-3 button {
  margin-top: 10px;
}

.mb-3,
.child-btn-mb-3 button {
  margin-bottom: 10px;
}

.bordered {
  border: solid 1px grey;
  border-radius: 5px;
  padding: 10px;
}

.notification-enter {
  display: block !important;
  -webkit-animation-name: pms-notification-slide;
  -webkit-animation-duration: 0.25s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
}

.hidden {
  display: none !important;
}

.pulsate {
  -webkit-animation: pulsate 1.75s ease-out;
  -webkit-animation-iteration-count: infinite;
  opacity: 0.5;
}

@-webkit-keyframes pulsate {
  0% {
    transform: scale(0.9);
    opacity: 0.2;
  }
  50% {
    transform: scale(0.8);
    opacity: 0.75;
  }
  100% {
    transform: scale(0.9);
    opacity: 0.2;
  }
}

@keyframes pms-busy-spinner {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes pms-notification-slide {
  from {
    right: -200px;
  }
  to {
    right: 0;
  }
}
